@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Nunito:300,400|Qwigley&display=swap');

$min-height: calc(100vh - 100px);
$height: 100vh;
$width: 80vw;
$font-size: 14px;
$color-general: #364f6b;
$color-emphasized: #fc5185;
$color_link: #3fc1c9;
$color-background: #f5f5f5;
$font-general: 'Nunito', sans-serif;
$font-logo: 'Fira Sans', sans-serif;
$font-hello: 'Qwigley', cursive;
$font-weight-regular: 400;
$font-weight-light: 300;
$border-line: 1px solid;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $color-general;
  font: $font-size $font-general;
  background-color: $color-background;
}

.container {
  width: $width;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: $min-height;

  // Higher resolution desktops
  @media (min-width: 1281px) {
    font-size: $font-size + 2px;
    min-height: $height;
    width: $width - 20vw;
  }

  // Laptops, Desktops
  @media (min-width: 1025px) and (max-width: 1280px) {
    font-size: $font-size + 2px;
    min-height: $height;
    width: $width - 10vw;
  }

  // Tablets portrait
  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: $font-size + 2px;
    min-height: $min-height;
  }

  // Tablets landscape
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    font-size: $font-size + 2px;
    min-height: $min-height;
  }

  .home,
  .about,
  .work,
  .contact {
    flex: 1;
  }

  .home {
    #hello {
      font: 4em $font-hello;
      margin: 0.25em 0 0 0;
    }

    #bio {
      font-size: 2em;

      p {
        margin-top: 10px;
      }
    }

    #objective {
      font-weight: $font-weight-light;
      font-size: 1.25em;
    }

    #sayHello {
      padding-top: 20px;
      a {
        border: $border-line $color-emphasized;
        padding: 8px 12px;
        border-radius: 20px;
        text-decoration: none;
        color: $color-emphasized;
        font-size: 1.2em;
        font-weight: $font-weight-light;

        &:hover {
          color: $color_link;
          border: $border-line $color_link;
        }

        span.wave {
          animation-name: wave-animation;
          animation-duration: 2.5s;
          animation-iteration-count: infinite;
          transform-origin: 70% 70%;
          display: inline-block;
        }

        @keyframes wave-animation {
          0% {
            transform: rotate(0deg);
          }
          10% {
            transform: rotate(-10deg);
          }
          20% {
            transform: rotate(12deg);
          }
          30% {
            transform: rotate(-10deg);
          }
          40% {
            transform: rotate(9deg);
          }
          50% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(0deg);
          }
        }
      }
    }
  }

  .about {
    img {
      min-width: 100%;
      max-width: 100%;
      width: 100px;
    }

    p {
      font-size: 1.2em;
      font-weight: $font-weight-light;
      &.head {
        font-size: 2em;
        font-weight: $font-weight-regular;
        margin-bottom: 0;
      }
    }

    .skill {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;

      div {
        width: 150px;

        p {
          &.sub-head {
            font-size: 1.2em;
            font-weight: $font-weight-regular;
          }
        }

        ul {
          padding: 0;
        }

        li {
          font-size: 1.1em;
          font-weight: $font-weight-light;
          list-style: none;
        }
      }
    }
  }

  .contact {
    p {
      &.head {
        font-size: 2em;
      }
    }

    ul {
      padding: 0;
    }

    li {
      list-style: none;
      margin-bottom: 20px;
      font-size: 1.2em;

      .link {
        padding-left: 10px;
        text-decoration: none;
        color: $color-general;
        font-weight: $font-weight-light;

        &:hover {
          color: $color_link;
        }
      }
    }
  }
}

.header {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;

  .logo {
    color: $color-emphasized;
    text-decoration: none;
    font: 1.2em $font-logo;
  }

  .navbar-link {
    list-style: none;

    li {
      display: inline;
      padding-left: 1.5em;

      a {
        color: $color-general;
        text-decoration: none;

        &:hover,
        &.active {
          color: $color_link;
        }
      }
    }
  }
}

footer {
  font-size: 0.9em;
  margin: 60px 0 20px 0;
  height: 80px;

  p {
    margin: 10px 0;
  }

  #me {
    color: $color-emphasized;
  }
}
