@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400|Qwigley&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  background-color: aliceblue;
}

.container {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);

  @media (min-height: 813px) {
    min-height: 100vh;
  }

  @media (min-width: 768px) {
    width: 60vw;
  }

  .home {
    flex: 1;

    #hello {
      font-family: 'Qwigley', cursive;
      font-size: 4em;
      margin: 0.8em 0 0 0;
    }

    #bio {
      font-size: 2em;
    }

    #objective {
      font-weight: 300;
      font-size: 1.5em;
    }

    #sayHello {
      padding-top: 20px;
      a {
        border: 1px solid cornflowerblue;
        padding: 8px 12px;
        border-radius: 20px;
        text-decoration: none;
        color: cornflowerblue;
        font-size: 1.2em;
        font-weight: 300;

        &:hover {
          opacity: 0.75;
        }
      }
    }
  }

  .about {
    p {
      font-size: 1.2em;
      font-weight: 300;
    }

    p.head {
      font-size: 2em;
      font-weight: 400;
    }

    .skill {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;

      div {
        width: 150px;

        p.sub-head {
          font-size: 1.2em;
          font-weight: 400;
        }

        ul {
          padding: 0;
        }

        li {
          font-size: 1.1em;
          font-weight: 300;
          list-style: none;
        }
      }
    }
  }
}

.header {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;

  .logo {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
  }

  .navbar-link {
    list-style: none;

    li {
      display: inline;
      padding-left: 1.5em;

      a {
        color: black;
        text-decoration: none;
      }
    }
  }
}

footer {
  margin: 60px 0 20px 0;
  height: 80px;
}
